In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a':10, 'b':20, 'c':100}
d2 = {'a':[10,20,30], 'b':[20,40,60], 'c':[100,200,300,400]}

In [3]:
pd.Series(my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [4]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [5]:
pd.Series(d)

a     10
b     20
c    100
dtype: int64

In [6]:
pd.Series(d2)

a            [10, 20, 30]
b            [20, 40, 60]
c    [100, 200, 300, 400]
dtype: object

In [7]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [8]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [9]:
ser1 = pd.Series([1, 2, 3, 4], index=['USA', 'CHINA', 'FRANCE', 'GERMANY'])

In [10]:
ser1

USA        1
CHINA      2
FRANCE     3
GERMANY    4
dtype: int64

In [11]:
ser2 = pd.Series([1, 2, 3, 4], index=['USA', 'CHINA', 'ITALY', 'JAPAN'])

In [12]:
ser2

USA      1
CHINA    2
ITALY    3
JAPAN    4
dtype: int64

In [13]:
ser1['USA']

1

In [14]:
ser1 + ser2

CHINA      4.0
FRANCE     NaN
GERMANY    NaN
ITALY      NaN
JAPAN      NaN
USA        2.0
dtype: float64

In [15]:
pd.DataFrame(data=[[1,2,3],[4,5,6],[7,8,9,10]])

   0  1  2     3
0  1  2  3   NaN
1  4  5  6   NaN
2  7  8  9  10.0