# Pandas - DataFrames Part 3

In [1]:
import numpy as np
import pandas as pd

In [72]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [73]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [74]:
df

             A         B
G1 1  1.025984 -0.156598
   2 -0.031579  0.649826
   3  2.154846 -0.610259
G2 1 -0.755325 -0.346419
   2  0.147027 -0.479448
   3  0.558769  1.024810

In [78]:
df.loc['G1'].loc[1]

A    1.025984
B   -0.156598
Name: 1, dtype: float64

In [80]:
df.index.names = ['Groups', 'Num']

In [81]:
df

                   A         B
Groups Num
G1     1    1.025984 -0.156598
       2   -0.031579  0.649826
       3    2.154846 -0.610259
G2     1   -0.755325 -0.346419
       2    0.147027 -0.479448
       3    0.558769  1.024810

In [85]:
df.loc['G2'].loc[2]['B']

-0.47944803904109595

In [86]:
df.loc['G1'].loc[3]['A']

2.154846443259472

In [87]:
df.loc['G1']

            A         B
Num
1    1.025984 -0.156598
2   -0.031579  0.649826
3    2.154846 -0.610259

In [92]:
df.xs(1,level='Num') # Can index sub-levels

               A         B
Groups
G1      1.025984 -0.156598
G2     -0.755325 -0.346419